@model IEnumerable<PastebookEntityLibrary.USER>

@{
    string imgSrc = null;
}

@foreach (var item in Model)
{
    if (item.PROFILE_PIC != null)
    {
        var base64 = Convert.ToBase64String(item.PROFILE_PIC);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    else
    {
        imgSrc = Url.Content("~/Content/Images/default.jpg");
    }
    <div class="row">
        <div class="col-md-12 profile_left">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Profile Information</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="profile-img">
                        <div class="col-md-3">
                            <img class="img-responsive avatar-view" src="@imgSrc" alt="Profile Picture" />
                        </div>
                        <div class="col-md-9">
                            <h2>@item.FIRST_NAME @item.LAST_NAME</h2>
                        </div>
                        <div>
                            <button class="btn btn-primary view-profile" value="@item.USER_NAME">View Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var userLink = '@Url.Action("/", "Pastebook.com")';
    </script>
    <script src="~/Scripts/friends.js"></script>
}