@model IEnumerable<PastebookEntityLibrary.NOTIFICATION>

@{
    string message = "";
    string notifLink = "";
}

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        if (item.NOTIF_TYPE == "L")
        {
            message = "has \'liked\' one of your posts";
            notifLink = Url.Action("Posts", "Pastebook", new { postID = item.POST_ID });
        }
        else if (item.NOTIF_TYPE == "F")
        {
            message = "has sent you a friend request";
            notifLink = Url.Action("UserProfile", "Pastebook", new { username = item.USER1.USER_NAME });
        }
        else
        {
            message = "has commented on one of your posts";
            notifLink = Url.Action("Posts", "Pastebook", new { postID = item.POST_ID });
        }
        <li>
            <a href="@notifLink">
                <span>
                    <span>@item.USER1.FIRST_NAME @item.USER1.LAST_NAME</span>
                    <span class="time">@item.CREATED_DATE.ToString("MM/dd/yyyy hh:mm:ss tt")</span>
                </span>
                <span class="message">@message</span>
            </a>
        </li>
    }
    if (Model.Count() == 6)
    {
        <li>
            <div class="text-center">
                <a href="@Url.Action("ViewAllNotifications","Pastebook")">
                    <strong>See All Notifications</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    }
}
else
{
    <li>
        <a>
            <span class="message">No Notifications</span>
        </a>
    </li>
}

