@model IEnumerable<Pastebook.ViewModels.PostViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div>
        <p>Name: @item.FullName</p>
        <p>This is the content: @item.Content</p>
        <p>Number of Likes: @item.Likes.Count</p>
        @if (item.Likes.Any(l => l.LikedBY == (int)Session["user_id"] && l.PostID == item.ID))
        {
            <button id="unlike" type="button" class="btnLike" value="@item.ID">Unlike</button>
        }
        else
        {
            <button id="like" type="button" class="btnLike" value="@item.ID">Like</button>
        }
        @if (item.Likes.Count > 0)
        {
            <p>Liked By:</p>
            <div>
                @foreach (var element in item.Likes)
                {
                    <p>@element.FullName</p>
                }
            </div>
        }
        @if (item.Comments.Count > 0)
        {
            <p>Comments:</p>
            <div>
                @foreach (var element in item.Comments)
                {
                    <p>@element.FullName : @element.Content</p>
                }
            </div>
        }
        <textarea id="@item.ID"></textarea>
        <button type="button" class="btnComment" value="@item.ID">COMMENT</button>
    </div>
    <br/>
}
