@model IEnumerable<PastebookEntityLibrary.POST>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@item.USER.FIRST_NAME @item.USER.LAST_NAME</h2>
                        <h5 class="date-align">@item.CREATED_DATE</h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p>@item.CONTENT</p>
                        <p><span class="fa fa-thumbs-up"></span> @item.LIKEs.Count</p>
                        @if (item.LIKEs.Any(l => l.LIKED_BY == (int)Session["user_id"] && l.POST_ID == item.ID))
                        {
                            <button id="unlike" type="button" class="btnLike btn btn-danger fa fa-thumbs-down" value="@item.ID"> Unlike</button>
                        }
                        else
                        {
                            <button id="like" type="button" class="btnLike btn btn-primary fa fa-thumbs-up" value="@item.ID"> Like</button>
                        }
                        @if (item.LIKEs.Count > 0)
                        {
                            <p>Liked By:</p>
                                <div>
                                    @foreach (var element in item.LIKEs)
                                    {
                                        <p>@element.USER.FIRST_NAME @element.USER.LAST_NAME</p>
                                    }
                                </div>
                        }
                        @if (item.COMMENTs.Count > 0)
                        {
                            <p>Comments:</p>
                                <div>
                                    @foreach (var element in item.COMMENTs)
                                    {
                                        <p>@element.USER.FIRST_NAME @element.USER.LAST_NAME : @element.CONTENT</p>
                                    }
                                </div>
                        }
                        <textarea id="@item.ID"></textarea>
                        <div class="ln_solid"></div>
                        <button type="button" class="btnComment btn btn-primary btn-post" value="@item.ID">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div> There are no post.</div>
}