@model IEnumerable<PastebookEntityLibrary.POST>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 pull-right">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@item.USER.FIRST_NAME @item.USER.LAST_NAME</h2>
                        <h5 class="date-align">@item.CREATED_DATE</h5>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <blockquote class="post-content">
                            <p>@item.CONTENT</p>
                        </blockquote>
                        <span class="like-block"><button class="fa fa-thumbs-up showLikeModal btn btn-primary" value="@item.ID"> No.</button> @item.LIKEs.Count</span>
                        @if (item.LIKEs.Any(l => l.LIKED_BY == (int)Session["user_id"] && l.POST_ID == item.ID))
                        {
                            <button id="unlike" type="button" class="btnLike btn btn-danger fa fa-thumbs-down" value="@item.ID"> Unlike</button>
                        }
                        else
                        {
                            <button id="like" type="button" class="btnLike btn btn-primary fa fa-thumbs-up" value="@item.ID"> Like</button>
                        }
                        @if (item.LIKEs.Count > 0)
                        {
                            <div id="likeModal_@item.ID" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">People who like this post</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div>
                                                @foreach (var element in item.LIKEs)
                                                {
                                                    <p>@element.USER.FIRST_NAME @element.USER.LAST_NAME</p>
                                                }
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (item.COMMENTs.Count > 0)
                        {
                            <h4>Comments:</h4>
                                <div>
                                    @foreach (var element in item.COMMENTs)
                                    {
                                        <h5><strong>@element.USER.FIRST_NAME @element.USER.LAST_NAME</strong> : @element.CONTENT</h5>
                                    }
                                </div>
                        }
                        <textarea id="@item.ID"></textarea>
                        <div>
                            <span id="commentMessage" class="text-danger"></span>
                        </div>
                        <div class="ln_solid"></div>
                        <button type="button" class="btnComment btn btn-primary btn-post" value="@item.ID">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    }
}