@model PastebookEntityLibrary.USER
@using PastebookDataAccessLibrary
@using PastebookEntityLibrary

@{
    List<USER> listOfUsers = new List<USER>();
    FriendDataAccess friendDataAccess = new FriendDataAccess();
    listOfUsers = friendDataAccess.GetListOfFriends((int)Session["user_id"]);
    var sessionUsername = Session["username"].ToString();
    var queryStringUsername = Request.QueryString["username"];
    string imgSrc = null;
    if (Model.PROFILE_PIC != null)
    {
        var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    else
    {
        imgSrc = "/Content/Images/default.jpg";
    }
}
<input id="hiddenUsername" type="hidden" value="@queryStringUsername" />

<div>
    <div class="page-title">
        <div class="title_left">
            <h3>User Profile</h3>
            <div id="addFriendPartial">
                @{ Html.RenderAction("AddFriendPartial", "Pastebook");}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 profile_left">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@Model.FIRST_NAME @Model.LAST_NAME</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="profile-img">
                        <div>
                            <img class="img-responsive avatar-view" src="@imgSrc" alt="Profile Picture" />
                            <div class="ln_solid"></div>
                            @if (sessionUsername == queryStringUsername)
                            {
                                using (Html.BeginForm("UploadPhoto", "Pastebook", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                                {
                                    <input type="hidden" name="username" value="@queryStringUsername" />
                                    <div class="form-group">
                                        <input type="file" name="file" />
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Upload" class="btn btn-primary" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Profile Information</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="credentialPartial">
                        @{ Html.RenderAction("CredentialPartial", "Pastebook");}
                        @if (sessionUsername == queryStringUsername)
                        {
                            <button id="btnUpdateAboutMe" type="button" class="btn btn-primary">Update About Me</button>
                        }
                        @Html.Partial("AboutMeModal")
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (listOfUsers.Any(u => u.USER_NAME == Request.QueryString["username"]) || Session["username"].ToString() == Request.QueryString["username"])
    {
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>What's on your mind?</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <textarea id="txtAreacontent" class="content-status"></textarea>
                        <div>
                            <span id="contentMessage"></span>
                        </div>
                        <div class="ln_solid"></div>
                        <button type="button" id="btnPost" class="btn btn-primary btn-post">Post</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="timelinePartial">
            @{ Html.RenderAction("TimelinePartial", "Pastebook");}
        </div>
                }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var hiddenUsername = $('#hiddenUsername').val();

            $('#btnUpdateAboutMe').click(function () {
                $('#myModal').modal('show');
            })

            $('#btnPost').click(function () {
                var varContent = $.trim($('#txtAreacontent').val());
                var data = {
                    content: varContent,
                    username: $('#hiddenUsername').val()
                };
                if (varContent.length != 0) {
                    $.ajax({
                        url: '/Pastebook/SavePost',
                        data: data,
                        type: 'GET',
                        success: function (data) {
                            CheckResultForPost(data);
                        },
                        error: function () {
                            alert('Something went wrong')
                        }
                    });
                }
                else {
                    $('#contentMessage').text('You cannot post an empty content.');
                }
            });

            $('#btnAboutMe').click(function () {
                var varAboutMe = $.trim($('#txtAreaAboutMe').val());
                var data = {
                    aboutMe: varAboutMe,
                    username: $('#hiddenUsername').val()
                };
                if (varAboutMe.length != 0) {
                    $.ajax({
                        url: '/Pastebook/UpdateAboutMe',
                        data: data,
                        type: 'GET',
                        success: function (data) {
                            CheckResultForAboutMe(data);
                        },
                        error: function () {
                            alert('Something went wrong')
                        }

                    });
                }
                else {
                    $('#aboutMeMessage').text('You cannot update about me with an empty content.');
                }
            });

            $(document).on('click', ".btnLike", function () {
                var likeUnlike = $(this).attr('id');
                var data = {
                    postID: $(this).val(),
                    status: likeUnlike
                };
                $.ajax({
                    url: '/Pastebook/LikePost',
                    data: data,
                    type: 'GET',
                    success: function (data) {
                        CheckResultForLike(data);
                    },
                    error: function () {
                        alert('Something went wrong')
                    }

                });
            });

            $(document).on('click', ".btnComment", function () {
                var id = $(this).val();
                var comment = $('#' + id).val();

                var data = {
                    postID: $(this).val(),
                    content: comment
                };
                $.ajax({
                    url: '/Pastebook/CommentToPost',
                    data: data,
                    type: 'GET',
                    success: function (data) {
                        CheckResultForComment(data);
                    },
                    error: function () {
                        alert('Something went wrong')
                    }

                });
            });

            $('#btnAddFriend').click(function () {
                var varAboutMe = $.trim($('#txtAreaAboutMe').val());
                var data = {
                    username: $('#hiddenUsername').val()
                };
                $.ajax({
                    url: '/Pastebook/AddFriend',
                    data: data,
                    type: 'GET',
                    success: function (data) {
                        CheckResultForAddFriend(data);
                    },
                    error: function () {
                        alert('Something went wrong')
                    }

                });
            });

            $(document).on('click', ".btnConfirm", function () {
                var data = {
                    relationshipID: $(this).val(),
                    status: "Confirm"
                };
                $.ajax({
                    url: '/Pastebook/AcceptRejectRequest',
                    data: data,
                    type: 'GET',
                    success: function (data) {
                        CheckResultForRequest(data);
                    },
                    error: function () {
                        alert('Something went wrong')
                    }

                });
            });

            $(document).on('click', ".btnReject", function () {
                var data = {
                    relationshipID: $(this).val(),
                    status: "Reject"
                };
                $.ajax({
                    url: '/Pastebook/AcceptRejectRequest',
                    data: data,
                    type: 'GET',
                    success: function (data) {
                        CheckResultForRequest(data);
                    },
                    error: function () {
                        alert('Something went wrong')
                    }

                });
            });

            function CheckResultForAboutMe(data) {
                if (data.Result == 1) {
                    $(location).attr('href', '/Pastebook/Userprofile?username=' + hiddenUsername);
                }
                else {
                    alert("Fail Inserting");
                }
            };

            function CheckResultForPost(data) {
                if (data.Result == 1) {
                    $('#timelinePartial').load('/Pastebook/TimelinePartial?username=' + hiddenUsername);
                    $('#txtAreacontent').val('');
                    $('#contentMessage').text('');
                }
                else {
                    alert("Fail Inserting");
                }
            };

            function CheckResultForLike(data) {
                if (data.Result == 1) {
                    $('#timelinePartial').load('/Pastebook/TimelinePartial?username=' + hiddenUsername);
                }
                else {
                    alert("Fail Inserting");
                }
            };

            function CheckResultForComment(data) {
                if (data.Result == 1) {
                    $('#timelinePartial').load('/Pastebook/TimelinePartial?username=' + hiddenUsername);
                }
                else {
                    alert("Fail Inserting");
                }
            };

            function CheckResultForAddFriend(data) {
                if (data.Result == 1) {
                    $('#addFriendPartial').load('/Pastebook/AddfriendPartial?username=' + hiddenUsername);
                }
                else {
                    alert("Fail Inserting");
                }
            };

            function CheckResultForRequest(data) {
                if (data.Result == 1) {
                    $(location).attr('href', '/Pastebook/UserProfile/?username=' + hiddenUsername);
                }
                else {
                    alert("Fail Inserting");
                }
            };
        });
    </script>
}

