@model PastebookEntityLibrary.USER
@using PastebookDataAccessLibrary
@using PastebookEntityLibrary

@{
    List<USER> listOfUsers = new List<USER>();
    FriendDataAccess friendDataAccess = new FriendDataAccess();

    listOfUsers = friendDataAccess.GetListOfFriends((int)Session["user_id"]);
    var sessionUsername = Session["username"].ToString();
    string imgSrc = null;

    if (Model.PROFILE_PIC != null)
    {
        var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    else
    {
        imgSrc = Url.Content("~/Content/Images/default.jpg");
    }
}
<input id="hiddenUsername" type="hidden" value="@Model.USER_NAME" />

<div>
    <div class="page-title">
        <div class="title_left">
            <h3>User Profile</h3>
            <div id="addFriendPartial">
                @{ Html.RenderAction("AddFriendPartial", "Pastebook");}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 profile_left">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@Model.FIRST_NAME @Model.LAST_NAME</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="profile-img">
                        <div>
                            <img class="img-responsive avatar-view" src="@imgSrc" alt="Profile Picture" />
                            <div class="ln_solid"></div>
                            @if (sessionUsername == Model.USER_NAME)
                            {
                                using (Html.BeginForm("UploadPhoto", "Pastebook", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                                {
                                    <input type="hidden" name="username" value="@Model.USER_NAME" />
                                    <div class="form-group">
                                        <input type="file" name="file" />
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Upload" class="btn btn-primary" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Profile Information</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="credentialPartial">
                        @{ Html.RenderAction("CredentialPartial", "Pastebook");}
                        @if (sessionUsername == Model.USER_NAME)
                        {
                            <button id="btnUpdateAboutMe" type="button" class="btn btn-primary">Update About Me</button>
                        }
                        @Html.Partial("AboutMeModal")
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (listOfUsers.Any(u => u.USER_NAME == Model.USER_NAME || Session["username"].ToString() == Model.USER_NAME))
    {
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 pull-right">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>What's on your mind?</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <textarea id="txtAreacontent" class="content-status"></textarea>
                        <div>
                            <span id="contentMessage"></span>
                        </div>
                        <div class="ln_solid"></div>
                        <button type="button" id="btnPost" class="btn btn-primary btn-post">Post</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="timelinePartial">
            @{ Html.RenderAction("TimelinePartial", "Pastebook");}
        </div>
                }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var savePostUrl = '@Url.Action("SavePost", "Pastebook")';
        var updateAboutMeUrl = '@Url.Action("UpdateAboutMe","Pastebook")';
        var likePostUrl = '@Url.Action("LikePost","Pastebook")';
        var commentToPostUrl = '@Url.Action("CommentToPost","Pastebook")';
        var addFriendUrl = '@Url.Action("AddFriend", "Pastebook")';
        var acceptRejectRequestUrl = '@Url.Action("AcceptRejectRequest","Pastebook")';
        var timelinePartialUrl = '@Url.Action("TimelinePartial","Pastebook")';
        var addfriendPartialUrl = '@Url.Action("AddfriendPartial","Pastebook")';
        var userLink = '@Url.Action("/", "Pastebook.com")';
    </script>
    <script src="~/Scripts/userprofile.js"></script>
}

